@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/*CSS Reset*/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container {
  text-align: center;
  vertical-align: middle;
}

.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 5vw;
  line-height: 1vw;
  text-shadow: 0 10 3vw #F40A35;
}

.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 5vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
}

.neon {
  animation: neon 0s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;

}


/*Navegacion*/
header {

    width: 100%;
    height: 70vh;
    background-image : url(Imagen/bl.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

nav {

    height: 100px;
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items : center;

}

.logo {
    width: 30px;
    margin-left : 20px;
}

.bar-btn {
    font-size: 25px;
    color: #fff;
    margin-right : 20px;
    cursor: pointer;
}

.nav-menu{

    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(60, 60, 60, 0.95) ;
    text-align: center;
    transition: all 0.5s;

}

.nav-menu li {
    display : none;
    line-height: 30px;
    margin: 50px 0;
    transition: all 0.5s;
}

.nav-menu li a {

    color:#fffefb;
    font-size: 16px;
    text-transform : uppercase;
    font-weight: 600;
}

    .nav-menu li a.active,
    .nav-menu li a:hover {
        color: #0099ff;
        transition : 0.3s;
    }

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav- menu li {
    display: block;
}

.banner-text {
    padding-top: 10px;
    text-align: center;
}

.banner-text h1 {
    text-shadow: 2px 0 #000000, -2px 0 #080b12, 0 2px #ffee038a, 0 -2px #1b1b1e,
               1px 1px #000000, -1px -1px #0a0e13, 1px -1px #e6ba0da2, -1px 1px #04070a;
               color: #111111;
    color:#2b2b2b;
    font-size: 40px;
    text-transform : uppercase;
}



.btn-a {
    display: inline-block;
    background-color: #545147;
    margin-top: 30px;
    padding: 15px 30px;
    color:#252525;
    text-transform : uppercase;
    border-radius : 25px;
}

.btn-a:hover{
    background-color : #353535;
}

@media (min-width:768px) {

    .logo {
    margin-left: 0;
    }

    header {
        height: 100vh;
    }

    nav{
    height: 100px;
    margin: 0 auto;

    }

    .bar-btn {
        display: none;
    }

    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height : 100px;
        margin: 0 20px;
        transition : none;
    }

    .nav-menu li a {
        font-size: 18px;
    }

    .container {
        max-width: 1200px ;
        margin: 0 auto;

    }

    .banner-text{
        padding-top: 200px;

}

    .banner-text h1 {
        font-size: 55px;
    }

    .banner-text p {
        padding: 30px 300px;
    }

}


article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #088292;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #023f57;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(92, 25, 25, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 48px 0;
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: linear-gradient(45deg, #6a6a6a, #000000);
  min-height: 100vh;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}